<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MCOE</a>
        <button title="Menu de navegação" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pedidos">
                <span class="oi oi-cart" aria-hidden="true"></span>
                Pedidos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sincronizacao">
                <span class="oi oi-reload" aria-hidden="true"></span>
                Sincronização
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mercadolivre-demo">
                <span class="oi oi-external-link" aria-hidden="true"></span>
                Mercado Livre (exemplo)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
